* {
   margin: 0;
   padding: 0;
   outline: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}

.img-fluid {
   max-width: 100%;
   height: auto;
}
html,body{
   box-sizing: border-box;
}
div {
   box-sizing: border-box;
}
.text-center{
   text-align: center;
}

/* registration terms css  */
.auth_main_wrapper {
   display: flex;
   justify-content: space-between;
}

.auth_form {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 40px 80px;
}

.auth_right_banar {
   width: 50%;
   position: relative;
}

.right_banar_info {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   text-align: center;
}

.right_banar_info h3 {
   color: #fff;
   font-size: 35px;
   line-height: 43px;
}

.right_banar_info p {
   color: rgba(255, 255, 255, 0.75);
   margin-top: 15px;
   line-height: 22px;
   font-size: 15px;
   font-weight: 500;
}

/* auth left content style  */
.auth_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.auth_header .back_auth a {
   text-decoration: none;
   color: #C2C5CD;
   font-weight: 500;
   font-size: 14px;
}

.auth_header .mobile_text_top_auth {
   display: none;
}

.auth_header .mobile_text_top_auth p {
   font-weight: 600;
   font-size: 14px;
   color: #9799A3;
}

.auth_header .back_auth a img {
   margin-right: 9px;
}

.auth_header .close_auth a {
   text-decoration: none;
   color: #C2C5CD;
   font-weight: 500;
   font-size: 14px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.auth_header .close_auth a img {
   margin-left: 9px;
}

.auth_footer {
   border-top: 1px solid #dbdce4af;
   padding-top: 20px;
   box-sizing: border-box;
}

.auth_footer p {
   text-align: center;
   font-weight: 500;
   font-size: 14px;
   color: #9799A3;
}

.auth_footer p a {
   color: #1B51F5;
   font-weight: 600;
   margin-left: 5px;
   text-decoration: none;
}


/* forgote pass email send form content css  */

.f_pass_email_send_content{}
.f_pass_email_send_content .top_info{}
.f_pass_email_send_content .top_info h3{
   font-weight: 700;
   font-size: 19px;
   color: #4D4C52;
}
.f_pass_email_send_content .top_info p{
   margin-top: 30px;
   font-size: 14px;
   line-height: 22px;
   color: #817F89;
   font-weight: 500;
}

.f_pass_email_send_content .top_info p span{
   font-weight: 600;
   color: #4D4C52;
}

.f_pass_email_send_content .social_login_item {
   margin: 40px 0px;
   text-align: center;
}
.f_pass_email_send_content .social_login_item ul {
   margin: 0;
   padding: 0;
}
.f_pass_email_send_content .social_login_item ul li {
   display: block;
   margin-bottom: 15px;
}
.f_pass_email_send_content .social_login_item ul li a{
   width: 312px;
   height: 48px;
   background: #F4F3F6;
   display: block;
   margin: 0 auto;
   line-height: 48px;
   font-weight: 600;
   font-size: 14px;
   text-decoration: none;
   border-radius: 8px;
   color: #4D4C52;
   position: relative;
}

.f_pass_email_send_content .social_login_item ul li a .icon{
   position: absolute;
   top: 50%;
   left: 20px;
   transform: translateY(-50%);
   display: inline-flex;
}

.f_pass_email_send_content .social_login_item ul li a:hover{
   background: #EAF2FF;
}

.f_pass_email_send_content .chnage_email{
   border-bottom: 1px solid #dbdce49c;
   width: 312px;
   margin: 0 auto;
   padding-bottom: 25px;
}
.f_pass_email_send_content .chnage_email a{
   font-weight: 600;
   font-size: 14px;
   text-decoration: none;
}

.f_pass_email_send_content .chnage_email a:hover{
   text-decoration: underline;
}

.f_pass_email_send_content .resend_pass_link{
   margin-top: 30px;
}

.f_pass_email_send_content .resend_pass_link a{
   display: block;
   width: 312px;
   margin: 0 auto;
   height: 48px;
   line-height: 48px;
   background: #EAF2FF;
   text-decoration: none;
   font-weight: 700;
   font-size: 14px;
   color: #1B51F5;
   border-radius: 8px;
}

.f_pass_email_send_content .resend_pass_link a:hover{
   background: #1B51F5;
   color: #fff;
}

.f_pass_email_send_content .f_pass_email_send_terms_condition{
   margin-top: 40px;
}
.f_pass_email_send_content .f_pass_email_send_terms_condition p{
   font-size: 12px;
   color: #C2C5CD;
   line-height: 22px;
}
.f_pass_email_send_content .f_pass_email_send_terms_condition p a{
   color: #C2C5CD;
}

.f_pass_email_send_content .f_pass_email_send_terms_condition p a:hover{
   color: #1B51F5;
}


/* page responsive start  */
@media (min-width: 992px) and (max-width: 1199px) {
   .auth_form {
      padding: 27px 55px;
   }
   .f_pass_email_send_content {
      padding: 46px 0px;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   .auth_form {
      padding: 17px 18px;
   }

   .right_banar_info h3 {
      font-size: 26px;
      line-height: 35px;
   }

   .auth_right_banar img {
      height: 100vh;
   }

   .auth_footer {
      padding-top: 12px;
   }

   .auth_footer p {
      font-size: 13px;
   }

   .f_pass_email_send_content .top_info p {
      margin-top: 16px;
   }

   .f_pass_email_send_content .social_login_item {
      margin: 20px 0px;
   }
   
}

@media (min-width: 576px) and (max-width: 767px) {
   .auth_right_banar {
      display: none;
   }
   .auth_form {
      width: 100%;
      padding: 20px 70px;
   }
   .f_pass_email_send_content {
      padding: 56px 0px;
   }
   
}

@media (max-width: 575px) {
   .auth_right_banar {
      display: none;
   }

   .auth_form {
      width: 100%;
      padding: 0px;
   }

   .auth_header {
      background: #F1F2F5;
      padding: 13px 20px;
   }

   .auth_header .back_auth a span {
      display: none;
   }

   .auth_header .close_auth a span {
      display: none;
   }

   .auth_header .mobile_text_top_auth {
      display: block;
   }

   .auth_left_form {
      padding: 50px 26px;
   }

   .auth_footer {
      border-top: none;
      padding-top: 0px;
      padding: 20px 30px;
      position: relative;
   }

   .auth_footer::after {
      height: 1px;
      width: 80%;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      background: #DBDCE4;
      position: absolute;
   }

   .f_pass_email_send_content .social_login_item ul li a{
      width: 95%;
   }
   .f_pass_email_send_content .resend_pass_link a{
      width: 95%;
   }
   .f_pass_email_send_content .chnage_email{
      width: 95%;
   }
   
}