* {
   margin: 0;
   padding: 0;
   outline: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}

.img-fluid {
   max-width: 100%;
   height: auto;
}
html,body{
   box-sizing: border-box;
}
div {
   box-sizing: border-box;
}
.text-center{
   text-align: center;
}

/* registration terms css  */
.auth_main_wrapper {
   display: flex;
   justify-content: space-between;
}

.auth_form {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 40px 80px;
}

.auth_right_banar {
   width: 50%;
   position: relative;
}

.right_banar_info {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   text-align: center;
}

.right_banar_info h3 {
   color: #fff;
   font-size: 35px;
   line-height: 43px;
}

.right_banar_info p {
   color: rgba(255, 255, 255, 0.75);
   margin-top: 15px;
   line-height: 22px;
   font-size: 15px;
   font-weight: 500;
}

/* auth left content style  */
.auth_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.auth_header .back_auth a {
   text-decoration: none;
   color: #C2C5CD;
   font-weight: 500;
   font-size: 14px;
}

.auth_header .mobile_text_top_auth {
   display: none;
}

.auth_header .mobile_text_top_auth p {
   font-weight: 600;
   font-size: 14px;
   color: #9799A3;
}

.auth_header .back_auth a img {
   margin-right: 9px;
}

.auth_header .close_auth a {
   text-decoration: none;
   color: #C2C5CD;
   font-weight: 500;
   font-size: 14px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.auth_header .close_auth a img {
   margin-left: 9px;
}

.re_terms_form_content h3 {
   text-align: center;
   font-weight: 700;
   font-size: 19px;
   color: #4D4C52;
}

.re_terms_form_content>p {
   text-align: center;
   margin-top: 40px;
   font-weight: 600;
   font-size: 14px;
   line-height: 24px;
   color: #817F89;
}

.re_terms_form_content .ter_form_box {
   margin-top: 40px;
}

.re_terms_form_content .ter_form_box ul {
   margin: 0;
}

.re_terms_form_content .ter_form_box ul li {
   display: block;
}

.re_terms_form_content .ter_form_box ul li a {
   display: block;
   background: #F4F3F7;
   border-radius: 8px;
   width: 312px;
   margin: 0 auto;
   height: 50px;
   line-height: 50px;
   text-decoration: none;
   padding: 0px 20px;
   font-weight: 600;
   font-size: 13px;
   color: #4D4C52;
   margin-top: 19px;
   position: relative;
   transition: 0.4s;
   box-sizing: border-box;
}

.re_terms_form_content .ter_form_box ul li a span {
   position: absolute;
   right: 25px;
   top: 50%;
   transform: translateY(-50%);
}

.re_terms_form_content .ter_form_box ul li a:hover {
   background: #1B51F5;
   color: #fff;
}

.re_terms_form_content .ter_form_box ul li a:hover svg:first-child rect {
   stroke: #fff;
}

.re_terms_form_content .ter_form_box ul li a:hover svg rect:last-child {
   fill: #fff;
}

.re_terms_form_content .ter_form_box .accept_register_btn {
   display: block;
   background: #1B51F5;
   border-radius: 8px;
   width: 312px;
   margin: 0 auto;
   height: 50px;
   line-height: 50px;
   text-decoration: none;
   padding: 0px 20px;
   font-weight: 600;
   font-size: 14px;
   color: #fff;
   margin-top: 19px;
   position: relative;
   transition: 0.4s;
   border: none;
   cursor: pointer;
}

.re_terms_form_content .ter_form_box .accept_register_btn:hover {
   background: #0026F8;
}

.re_terms_form_content .ter_form_box p {
   text-align: center;
   margin-top: 40px;
   font-weight: 500;
   font-size: 12px;
   color: #C4C2CD;
   line-height: 19px;
}

.re_terms_form_content .ter_form_box p a {
   color: #C4C2CD;
}

.re_terms_form_content .ter_form_box p a:hover {
   color: #0026F8;
}

.auth_footer {
   border-top: 1px solid #dbdce4af;
   padding-top: 20px;
   box-sizing: border-box;
}

.auth_footer p {
   text-align: center;
   font-weight: 500;
   font-size: 14px;
   color: #9799A3;
}

.auth_footer p a {
   color: #1B51F5;
   font-weight: 600;
   margin-left: 5px;
   text-decoration: none;
}


/* forgote pass email form content css  */
.for_pass_email_content{}
.for_pass_email_content .top_info{}
.for_pass_email_content .top_info h3{
   font-weight: 700;
   font-size: 19px;
   color: #4D4C52;
}
.for_pass_email_content .top_info p{
   margin-top: 30px;
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   color: #817F89;
}

.for_pass_email_content .f_pass_form_form{
   margin: 40px 0px;
}
.for_pass_email_content .f_pass_form_form .input_box{
   width: 312px;
   position: relative;
   margin: 0 auto;
}

.for_pass_email_content .f_pass_form_form .input_box input{
   width: 100%;
   height: 50px;
   border-radius: 8px;
   background: #fff;
   padding: 0px 24px;
   box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1);
   border: 2px solid #ddd;
   font-weight: 600;
   font-size: 13px;
   color: #4D4C52;
}

.for_pass_email_content .f_pass_form_form .input_box input:focus::placeholder {
   color: transparent;
 }


.for_pass_email_content .f_pass_form_form .input_box .input_label_flot{
   position: absolute;
   top: -10px;
   left: 17px;
   background: #fff;
   font-weight: 500;
   font-size: 12px;
   padding: 4px 10px;
   color: #C2C5CD;
}

.for_pass_email_content .f_pass_form_form .form_submit{
   width: 312px;
   position: relative;
   margin: 0 auto;
   margin-top: 20px;
}

.for_pass_email_content .f_pass_form_form .form_submit button{
   width: 100%;
   background: #1B51F5;
   border: none;
   height: 48px;
   line-height: 48px;
   font-weight: 600;
   font-size: 14px;
   color: #fff;
   border-radius: 8px;
   cursor: pointer;
   outline: none;
}

.for_pass_email_content .f_pass_form_form .form_submit button:hover{
   background-color: #0026F8;
}

.for_pass_email_content .f_pass_terms_form{}
.for_pass_email_content .f_pass_terms_form p{
   font-size: 12px;
   color: #C2C5CD;
   line-height: 20px;
}
.for_pass_email_content .f_pass_terms_form p a{
   color: #C2C5CD;
}

.for_pass_email_content .f_pass_terms_form p a:hover{
   color: #0026F8;
}


















/* page responsive start  */
@media (min-width: 992px) and (max-width: 1199px) {
   .auth_form {
      padding: 27px 55px;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   .auth_form {
      padding: 17px 37px;
   }

   .right_banar_info h3 {
      font-size: 26px;
      line-height: 35px;
   }

   .auth_right_banar img {
      height: 100vh;
   }

   .auth_footer {
      padding-top: 12px;
   }

   .auth_footer p {
      font-size: 13px;
   }
}

@media (min-width: 576px) and (max-width: 767px) {
   .auth_right_banar {
      display: none;
   }
   .for_pass_email_content {
      padding: 60px 0px;
   }
   .auth_form {
      width: 100%;
      padding: 20px 70px;
   }
}

@media (max-width: 575px) {
   .auth_right_banar {
      display: none;
   }

   .auth_form {
      width: 100%;
      padding: 0px;
   }

   .auth_header {
      background: #F1F2F5;
      padding: 13px 20px;
   }

   .auth_header .back_auth a span {
      display: none;
   }

   .auth_header .close_auth a span {
      display: none;
   }

   .auth_header .mobile_text_top_auth {
      display: block;
   }

   .auth_left_form {
      padding: 50px 26px;
   }

   .auth_footer {
      border-top: none;
      padding-top: 0px;
      padding: 20px 30px;
      position: relative;
   }

   .auth_footer::after {
      height: 1px;
      width: 80%;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      background: #DBDCE4;
      position: absolute;
   }

   .for_pass_email_content .f_pass_form_form .input_box {
      width: 100%;
   }

   .for_pass_email_content .f_pass_form_form .form_submit{
      width: 100%;
   }


   
}